<div class="dash-page">
    {{> header}}
    <div class="envelope-form">
        <h2>Add envelope text</h2>

        <form class="add-envelope">
            <div>
                <input type="text" id="add-text" />
            </div>
            <div>
                <button type="submit" data-envelopes="{{envelopes.length}}" class="btn-link">Add</button>
            </div>
        </form>
    </div>
    <div class="envelope-form image-form">
        <h2>Upload envelope image</h2>
        <form class="add-envelope add-img" action="/api/envelopes/img" method="POST" enctype="multipart/form-data">
            <div>
                <input type="file" id="add-img" name="uploadimg" />
            </div>
            <div>
                <button type="submit" class="btn-link">Upload</button>
            </div>
        </form>
    </div>

    <div class="current-envelopes">
        <h2>Current Envelopes</h2>
        There are currently {{envelopes.length}} envelope(s).

        {{#if envelopes}}
            <ul class="current-list">
                {{#each envelopes as |envelope|}}
                <li>
                    <div class="curr-envelope-text">
                        {{{display_content envelope.envelope_text}}}
                    </div>
                    <div data-id="{{envelope.id}}" data-content="{{envelope.envelope_text}}" class="btn-link delete-btn">Delete</div>
                </li>
                {{/each}}
            </ul>
        {{/if}}
    </div>

    <button class="btn-link" id="change-page-btn" onclick="location.href='/stream-control'">Go to "Pick Envelopes" Page</button>
</div>

<script src="/assets/js/add.js"></script>